/*!
 * name: @jswork/wsui-em-justify-list
 * description: Em layout justify list.
 * homepage: https://github.com/afeiship/wsui-em-justify-list
 * version: 1.0.0
 * date: 2021-01-14 17:43:01
 * license: MIT
 */
/*wsui-em-justify-list Start*/
.wsui-em-justify-list {
  margin: -0.5em;
  overflow: hidden;
}

.wsui-em-justify-list > .is-item {
  box-sizing: border-box;
  float: left;
  margin: 0.5em;
}

.wsui-em-justify-list[data-count="2"] > .is-item {
  width: calc(50% - 1em);
}

.wsui-em-justify-list[data-count="3"] > .is-item {
  width: calc(33.33333% - 1em);
}

.wsui-em-justify-list[data-count="4"] > .is-item {
  width: calc(25% - 1em);
}

.wsui-em-justify-list[data-count="5"] > .is-item {
  width: calc(20% - 1em);
}

.wsui-em-justify-list[data-count="6"] > .is-item {
  width: calc(16.66667% - 1em);
}

/*wsui-em-justify-list End*/
.test-wsui-em-justify-list {
  border: 1px solid red;
  width: 80%;
  margin: 0 auto 20px;
}

.test-wsui-em-justify-list .is-item {
  border: 4px solid lightgreen;
}

.test-wsui-em-justify-list .is-item h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
}

.test-wsui-em-justify-list .is-item p {
  color: #333;
  font-size: 12px;
}

.test-wsui-em-justify-list .is-item img {
  width: 100%;
}

.test-wsui-em-justify-list .is-item:nth-child(2n) {
  background: salmon;
}

.test-wsui-em-justify-list .is-item:nth-child(2n-1) {
  background: seagreen;
}
