/*webkit-sassui-em-justify-list Start*/
.webkit-sassui-em-justify-list {
  margin: -0.5em;
  overflow: hidden;
}

.webkit-sassui-em-justify-list > .item {
  box-sizing: border-box;
  float: left;
  margin: 0.5em;
}

.webkit-sassui-em-justify-list[data-count="2"] > .item {
  width: calc(50% - 1em);
}

.webkit-sassui-em-justify-list[data-count="3"] > .item {
  width: calc(33.33333% - 1em);
}

.webkit-sassui-em-justify-list[data-count="4"] > .item {
  width: calc(25% - 1em);
}

.webkit-sassui-em-justify-list[data-count="5"] > .item {
  width: calc(20% - 1em);
}

.webkit-sassui-em-justify-list[data-count="6"] > .item {
  width: calc(16.66667% - 1em);
}

/*webkit-sassui-em-justify-list End*/
.test-webkit-sassui-em-justify-list {
  border: 1px solid red;
  width: 80%;
  margin: 0 auto 20px;
}

.test-webkit-sassui-em-justify-list .item {
  border: 4px solid lightgreen;
}

.test-webkit-sassui-em-justify-list .item h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
}

.test-webkit-sassui-em-justify-list .item p {
  color: #333;
  font-size: 12px;
}

.test-webkit-sassui-em-justify-list .item img {
  width: 100%;
}

.test-webkit-sassui-em-justify-list .item:nth-child(2n) {
  background: salmon;
}

.test-webkit-sassui-em-justify-list .item:nth-child(2n-1) {
  background: seagreen;
}
