/*wsui-em-justify-list Start*/
@use "sass:math";

$wsui-em-justify-list-options: (
  unit: 1em,
  list: (
    2,
    3,
    4,
    5,
    6,
  ),
) !default;

.wsui-em-justify-list {
  $unit: map-get(
    $map: $wsui-em-justify-list-options,
    $key: unit,
  );

  $list: map-get(
    $map: $wsui-em-justify-list-options,
    $key: list,
  );

  margin: math.div($unit, -2);
  overflow: hidden;
  > .is-item {
    box-sizing: border-box;
    float: left;
    margin: math.div($unit, 2);
  }

  @each $item in $list {
    &[data-count="#{$item}"] {
      > .is-item {
        width: calc(#{percentage(math.div(1, $item))} - #{$unit});
      }
    }
  }
}
/*wsui-em-justify-list End*/
